
<section id="proyectos" class="section">
    <div class="div-principal texto-blanco">
        <div class="section-title">
            <h1>Proyectos</h1>
        </div>
        <div class="proyectos-content mt-2 mb-2">
            <div class="col-4 card">
                <div class="card-body text-center">
                    <h5 class="card-title">Heroes</h5>                      
                    <p class="card-text">
                        HTML - Css - JavaScript
                    </p>
                    <a href="https://github.com/gervegacastro/heroes" target="_blank" class="btn btn-outline-custom">Ver código</a>                      
                </div>
            </div>
            <div class="col-4 card">
                <div class="card-body text-center">
                    <h5 class="card-title">PeliculasApp</h5>                      
                    <p class="card-text">
                        HTML - Css - Bootstrap - JavaScipt - TypeScript - Angular
                    </p>
                    <a href="https://github.com/gervegacastro/PeliculasApp-Angular" target="_blank" class="btn btn-outline-custom">Ver código</a>                      
                </div>
            </div>
            <div class="col-4 card">
                <div class="card-body text-center">
                    <h5 class="card-title">Landing Page</h5>                      
                    <p class="card-text">
                        HTML - Css - Bootstrap - JavaScript - Angular</p>
                    <a href="#" target="_blank" class="btn btn-outline-custom">Ver código</a>                      
                </div>
            </div>
        </div>

    </div>
</section>

