
<section id="tecnologias" class="section">
    <div class="div-principal texto-blanco">
        <div class="section-title mt-2 mb-2">
            <h1>Tecnologías</h1>
        </div>
        <div class="tecnologias-content col-12 mt-2">
            <div class="logos-container">
                <div class="logo-container">
                    <img class="logo" src="../../../assets/logos/logo-html.png" alt="Logo HTML">
                </div>
                <div class="logo-container">
                    <img class="logo" src="../../../assets/logos/logo-css.png" alt="Logo Css">
                </div>
            </div>
            <div class="logos-container">
                <div class="logo-container">
                    <img class="logo" src="../../../assets/logos/logo-bootstrap.png" alt="Logo Bootstrap">
                </div>
                <div class="logo-container">
                    <img class="logo" src="../../../assets/logos/logo-javascript.png" alt="Logo JavaScript">
                </div>
            </div>                      
        </div>
        <div class="tecnologias-content col-12 mb-2">
            <div class="logos-container">
                <div class="logo-container">
                    <img class="logo" src="../../../assets/logos/logo-typescript.png" alt="Logo TypeScript">
                </div>
                <div class="logo-container">
                    <img class="logo" src="../../../assets/logos/logo-java.png" alt="Logo Java">
                </div>
            </div>
            <div class="logos-container">
                <div class="logo-container">
                    <img class="logo" src="../../../assets/logos/logo-angular.png" alt="Logo Angular">
                </div>
                <div class="logo-container">
                    <img class="logo" src="../../../assets/logos/logo-springboot.png" alt="Logo Springboot">
                </div>
            </div>                      
        </div>
       
    </div>                   
</section>


