
.sobre-mi-content {       
    display: flex;
    justify-content: center;
    max-width: 90%; 
    margin-bottom: 20px;          
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.image-container img {        
    width: 150px;
    height: 150px;
}

.content-container {
    display: flex;    
    justify-content: center; 
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(12, 155, 160);                   
}

@media screen and (max-width: 767px) {

    .content-container {
        justify-content: center;
        align-items: center;
        text-align: center;
    }    
}

