
<section id="sobre-mi" class="section">
    <div class="div-principal texto-blanco">
        <div class="section-title">
            <h1>Sobre mi</h1>
        </div>
        <div class="sobre-mi-content row">
            <div class="image-container mb-2 col-12 col-md-6">
                <img class="rounded-circle" src="../../../assets/foto-cv.jpg" alt="Foto de perfil">
            </div>
            <div class="content-container p-2 col-12 col-md-6">                
                <p>Hola, mi nombre es Germán Vega Castro. Soy Lic. en Relaciones Públicas, 
                   Lic. en Recursos Humanos y estudiante de programación autodidacta. Actualmente
                   me desempeño como desarrollador Full Stack en CubeHub.
                </p>
            </div>
        </div>                                       
    </div>
</section>
